@define-mixin atSmall {			/* Mobiles */
	@media (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atMedium {		/* Tablets */
	@media (min-width: 800px) {
		@mixin-content;
	}
}

@define-mixin atLarge {			/* Desktops */
	@media (min-width: 1200px) {
		@mixin-content;
	}
}

@define-mixin clearfix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}